adjustText==0.7.3
matplotlib==3.3.0
numpy==1.22.0
openpyxl==3.0.10
paddle-bfloat==0.1.2
paddle2onnx==0.9.7
paddlefsl==1.1.0
paddlehub==2.2.0
paddlenlp==2.3.2
paddlepaddle-gpu==2.3.0
pandas==1.4.2
scikit-image==0.18.1
scipy==1.8.1
seaborn==0.11.2
sklearn==0.0
stop-words==2018.7.23
text2vec==1.1.6
threadpoolctl=3.1.0
tqdm==4.64.0
